ul{
    font-size: 25px;
    }
p{
    font-size: 27px;
    }
li{
        color: azure;
        font-size: 15px;
    }
a{
    background-color: #9370DB;
    color: darkgreen;
    font-size: 25pt;
    text-align: center;
    }